.heading {
  font-size: 35px;
  font-family: "Arimo", sans serif;
  color: #2d2d2d;
  font-weight: 700;
  position: relative;
  top: 30px;
  left: 30px;
}

.pictext {
  font-size: 55px;
  font-family: 'Arimo', sans serif;
  color: #000000;
  font-weight: 700;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 1060px;
  left: 50%;
  text-align: center;

}

.condo {
  position: absolute;
  height: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px; 
}

.works {
  border: none;
  background-color: inherit;
  font-weight: 700;
  color: #000000;
  top: 50px;
  font-family:'Arimo';
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 250px;
}
.commissions {
  border: none;
  background: none;
  font-weight: 700;
  color: #000000;
  font-family: 'Arimo';
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 50px;
}


.bioPic
{
  position: absolute;
  width: 600px;
  top: 1250px;
  left: 100px;
}

.bioText
{
  font-size: 20px;
  font-family: "Petrona", serif;
  color: #2d2d2d;
  font-weight: 400;
  position: absolute;
  top: 1270px;
  left: 760px;
  max-width: 600px;
  text-align: left;
}

.bioText2
{
  font-size: 20px;
  font-family: "Petrona", serif;
  color: #2d2d2d;
  font-weight: 400;
  position: absolute;
  top: 1750px;
  right: 760px;
  max-width: 600px;
  text-align: right;
}

.bioPic2
{
  position: absolute;
  width: 600px;
  top: 1700px;
  right: 100px;
}

.bottomText
{
  font-size: 27px;
  font-family: "Arimo";
  text-transform: uppercase;
  color: #2d2d2d;
  font-weight: 700;
  position: relative;
  max-width: 1300px;
  top: 2050px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}




@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}